.Name{
    color:rgb(48, 139, 175);
    font-family:Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-left: 63rem;

}
.avatar{
    width: 17%;
    height: 13%;
    margin-left: 59rem;
    

}
.my-img{
    position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.input  
{
    position: relative;
    margin: 25px 0;
    padding: 5px 0;
    border: none;
    background: none;
    border-bottom: 3px solid #d9d9d9;
    text-align: center;
}
.submit{
    text-align: center;
}
.body{
    border: 2px solid #d9d9d954 ;
    max-width: 20%;
    margin-left: 58.5rem;
    text-align: center;
}
.fullbody{
    background: linear-gradient(to  right,rgb(106, 191, 224),rgb(97, 126, 206));
}
.video
{
    margin-left: 55.9rem;
}
/*--------folder Profile---------*/
.myPhoto{
    width: 40%;
    height: 40%;
    margin-left: 25rem;
}
.Address{
    padding: 0;
    margin: 0;
    font-size: 2vw;
    text-align: center;
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.full_name{
    padding: 0;
    margin: 0;
    font-size: 5vw;
    text-align: center;
    color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}